*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                /*GENERAL*/
a{
    text-decoration: none;
    color: black;
}


                                /*PAGE*/
                            
#wrapper{
    background-color: #A95C68;
    min-height: 94vh;
    color: white;
    position: relative;
}

.message{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    text-align: center;
}

#mainpage{
    min-height: 94vh;
}

                                /*MENU DE NAVIGATION*/

nav{
    /*Penser à changer le background pour une couleur vermeille*/
    background-color: black;
    color: white;
    border-bottom: 1px solid #A95C68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 0px 20px 0px 20px;
}

nav a, nav i{
    color: white;

}

nav a:hover{
    border-bottom: 2px solid #A95C68;    
}

#nav-right{
    display: flex;
    gap: 15px;
}


                                /*FOOTER*/
footer{
    height: 6vh;
    background-color: #BACFCA;
    display: flex;
    justify-content: center;
    align-items: center;
}



                                /*PAGE HOME*/

#main-home{
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 50px 0px 50px;
}

#main-home p, h1{
    text-align: center;
    text-align: justify;
}

.bottom-links{
    display: flex;
    gap: 10px;
}


                                /*LIST CATEGORIES PAGE*/

#main-listcategories{
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
}

#main-listcategories h1{
    padding-top: 50px;

}

#main-listcategories .categories{
    width: 50%;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-listcategories .categorie-item{
    border: 1px solid orange;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: orange;
}

#main-listcategories .categorie-item p{
    font-size: 1.3rem;
}

#main-listcategories .categorie-item:hover{
    background-color: #ee9654;
    cursor: pointer;
}


                                /*DETAIL CATEGORIE PAGE*/

/* Refaire les couleurs (nav + main) */

#main-detailcategorie{
    min-height: 87vh;
    width: 100%;
}

#main-detailcategorie #list-topics h1{
    text-align: center;
    padding: 20px 0px 40px 0px;
    color: #A95C68;
    text-shadow: 1px 1px 1px black;
}

#main-detailcategorie #list-topics{
    margin: 0px 10px 0px 10px;
    min-height: 20vh;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

#main-detailcategorie #list-topics a:nth-child(even){
    background-color: rgb(179, 172, 172);
}

#main-detailcategorie #list-topics a:nth-child(odd){
    background-color: white;
}

#main-detailcategorie #list-topics .topic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    border: 1px solid green;
}

#main-detailcategorie #list-topics .topic p {
    max-width: 200px;
    min-width: 150px;
    min-height: 10px;
}

#main-detailcategorie #ajout-topic{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main-detailcategorie #ajout-topic h4{
    padding: 20px 0px 20px 0px;
    color: #A95C68;
    text-shadow: 1px 0px 1px black;
}

#main-detailcategorie #form-topic{
    padding: 10px;
    background-color: #A95C68;
    display: flex;
    flex-direction: column;
    text-align: center;    
    width: 50%;
    gap: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

#main-detailcategorie #form-topic .form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#main-detailcategorie #form-topic .form-field input, #main-detailcategorie #form-topic .form-field textarea{
    width: 100%;
}

#main-detailcategorie #form-topic .form-field .form-button{
    height: 30px;
    width: 100px;
    text-align: center;
}



                                    /*DETAILTOPIC PAGE*/

#main-listposts{
    min-height: 87vh;
    width: 100%;
    background-color: rgb(116, 14, 14); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-listposts h1{
    padding: 20px 0px 20px 0px;
}

#main-listposts #posts{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-height: 20vh;
}

#main-listposts .post-topic{
    border: 1px solid yellow;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3px;
}

#main-listposts .post-topic .infos-post{
    color: gray;
}

#main-listposts #ajout-post{
    border: 1px solid yellow;
}

#main-listposts #ajout-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#main-listposts #ajout-post .form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


                                /************  VIEWPROFILE PAGE **************/

#main-viewprofile{
    background-color: orange;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-viewprofile h3{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}

#main-viewprofile .sujets-posts{
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    border: 3px solid rgb(97, 59, 59);
}

#main-viewprofile .sujets-posts h4{
    font-size: 1.5rem;
    text-align: center;
}

/*Partie Posts*/
#main-viewprofile .derniers-posts{
    border: 1px solid red;
}

#main-viewprofile .dernier-post{
    border: 1px solid blue;
    min-height: 40px;
    display: flex;
    align-items: center;
}


/*Partie Sujets*/

#main-viewprofile .sujets-profil{
    border: 1px solid green;
}

#main-viewprofile .sujet-profil{
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 5px;
}

#main-viewprofile .sujet-profil i{
    font-size: 0.8rem;
}

#main-viewprofile .titre-sujet{
    border: 1px solid pink;
    width: 30%;
    font-size: 1.1rem;
}

#main-viewprofile .date-sujet{
    border: 1px solid pink;
    width: 30%;
}

#main-viewprofile .verrouillage-sujet{
    border: 1px solid pink;
    width: 20%;
    text-align: end;
}


                                        /********  LISTTOPICS PAGE ************/

#main-listTopics{
    background-color: orange;
    min-height: 87vh;
    width: 100%;
}


#main-listTopics .topic-element{
    border: 1px solid red;
}

#main-listTopics #topics-list h1{
    text-align: center;
    padding: 20px 0px 40px 0px;
    color: #A95C68;
    text-shadow: 1px 1px 1px black;
}

#main-listTopics #topics-list{
    margin: 0px 10px 0px 10px;
    min-height: 20vh;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

#main-listTopics #topics-list .topic-element:nth-child(even){
    background-color: rgb(179, 172, 172);
}

#main-listTopics #topics-list .topic-element:nth-child(odd){
    background-color: rgb(251, 251, 251);
}

#main-listTopics #topics-list .topic-element{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    border: 1px solid green;
}

#main-detailcategorie #topics-list .topic-element p {
    max-width: 200px;
    min-width: 150px;
    min-height: 10px;
}