*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                /*GENERAL*/
a{
    text-decoration: none;
    color: black;
}


                                /*PAGE*/
                            
#wrapper{
    background-color: #A95C68;
    min-height: 94vh;
    color: white;
    position: relative;
}

.message{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    text-align: center;
}

#mainpage{
    min-height: 94vh;
}

                                /*MENU DE NAVIGATION*/

nav{
    /*Penser à changer le background pour une couleur vermeille*/
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 0px 20px 0px 20px;
    font-size: 1.4rem;
}

nav a, nav i{
    color: white;

}

nav a:hover{
    border-bottom: 2px solid rgb(34, 157, 147);    
}

#nav-right{
    display: flex;
    gap: 15px;
}


                                /*FOOTER*/
footer{
    height: 6vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer a{
    color: white;
}



                                /*PAGE HOME*/

#main-home{
    background: url(../img/back15.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 50px 0px 50px;
    width: 100%;
}

#main-home p, h1{
    text-align: center;
    text-align: justify;
    color: rgb(252, 239, 239);
}

#main-home h1{
    text-shadow: 3px 2px 2px black;
}

#main-home p{
    font-size: 1.5rem;
    color: black;
}

#main-home #forum-presentation{
    border-radius: 5px;
    width: 60%;
    padding: 20px;
    background-color: rgb(245, 245, 220, 0.2);    
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

.bottom-links{
    display: flex;
    gap: 10px;
}


                                /*LIST CATEGORIES PAGE*/

#main-listcategories{
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
    background-color: rgb(32, 32, 32);
}

#main-listcategories h1{
    padding-top: 50px;

}

#main-listcategories .categories{
    width: 50%;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-listcategories .categorie-item{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#main-listcategories .categorie-item p{
    font-size: 1.3rem;
}

#main-listcategories .categorie-item:hover{
    backdrop-filter: blur(5px);
    cursor: pointer;
    border-top: 3px solid rgb(60, 149, 130);
    border-bottom: 3px solid rgb(60, 149, 130);
}


                                /*DETAIL CATEGORIE PAGE*/

/* Refaire les couleurs (nav + main) */

#main-detailCategorie{
    background: url(../img/back12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-detailCategorie h1{
    padding: 50px;
    text-shadow: 1px 1px 1px black;   
}

#main-detailCategorie #list-topics .topic-element:nth-child(even){
    background-color: rgb(163, 164, 164);
}

#main-detailCategorie #list-topics .topic-element:nth-child(odd){
    background-color: rgb(197, 200, 200);
}

#main-detailCategorie  #topics-bar{
    background-color: rgb(34, 157, 147);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 7vh;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid white;
}

#main-detailCategorie  #topics-bar #titre-bar,
#main-detailCategorie  #topics-bar #auteur-bar,
#main-detailCategorie  #topics-bar #creation-bar,
#main-detailCategorie  #topics-bar #posts-bar,
#main-detailCategorie  #topics-bar #etat-bar{
    text-align: center;
    font-size: 1.3rem;
}

#main-detailCategorie  #topics-bar #titre-bar,
#main-detailCategorie  #topics-bar #auteur-bar,
#main-detailCategorie  #topics-bar #creation-bar{
    width: 20%;
}

#main-detailCategorie  #topics-bar #posts-bar,
#main-detailCategorie  #topics-bar #etat-bar{
    width: 10%;
}

#main-detailCategorie #list-topics{
    width: 80%;
    backdrop-filter: blur(10px);
    margin: 0px 10px 0px 10px;
    min-height: 20vh;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#main-detailCategorie #list-topics .topic-element{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    border-radius: 5px;
}

#main-detailCategorie #list-topics .topic-element:hover{
    background-color: gray;
}

#main-detailCategorie .topic-element .topic-titre{
    width: 20%;
    font-size: 1.3rem;
}

#main-detailCategorie .topic-element .topic-createur{
    width: 20%;
    color: green;
}

#main-detailCategorie .topic-element .topic-nbPosts{
    width: 10%;
}

#main-detailCategorie .topic-element .topic-date{
    width: 20%;
}


#main-detailCategorie .topic-element .topic-etat{
    width: 10%;
    color: green;
}

#main-detailCategorie .topic-element .topic-verrouillage{
    width: 10%;
    color: green;
}

#main-detailCategorie #ajout-topic{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#main-detailCategorie #ajout-topic h4{
    padding: 20px 0px 20px 0px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#main-detailCategorie #form-topic{
    padding: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    text-align: center;    
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 20px;
}

#main-detailCategorie #form-topic .form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#main-detailCategorie #form-topic .form-field input, #main-detailCategorie #form-topic .form-field textarea{
    width: 100%;
}

#main-detailCategorie #form-topic .form-field .form-button{
    height: 30px;
    width: 100px;
    text-align: center;
}

#main-detailCategorie #form-topic .form-field .form-button:hover{
    cursor: pointer;
}



                                    /*DETAILTOPIC PAGE*/

#main-listposts{
    min-height: 87vh;
    width: 100%;
    background-color: rgb(10, 10, 10); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-listposts a{
    color: white;
}

#main-listposts h1{
    padding: 20px 0px 20px 0px;
}

#main-listposts #posts{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-height: 20vh;
}

#main-listposts #posts .post-topic:nth-child(even){
    background-color: rgb(44, 44, 44);
}

#main-listposts #posts .post-topic:nth-child(odd){
    background-color: rgb(27, 27, 27);
}

#main-listposts #posts .post-topic:hover{
   border: 1px solid rgb(34, 157, 147);    
}

#main-listposts .post-topic{
 
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
    border-radius: 3px;
}

#main-listposts .post-topic #texte{
    padding: 15px 0px 0px 0px;
}

#main-listposts .post-topic a{
    color: white;
}

#main-listposts .post-topic .infos-post{
    color: gray;
}

#main-listposts #ajout-post{
    border-radius: 5px;
    background-color: rgb(107, 107, 107, 0.1);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    padding: 20px;
    margin-top: 70px;
}

#main-listposts #ajout-post #form-topic{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main-listposts #ajout-post .form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#main-listposts #ajout-post .form-field textarea{
    width: 800px;
}

#main-listposts #ajout-post .form-field .form-button{
    padding: 10px 20px 10px 20px;
}

#main-listposts #ajout-post .form-field .form-button:hover{
    cursor: pointer;
}


                                /************  VIEWPROFILE PAGE **************/

#main-viewprofile{
    background-color: rgb(48, 48, 48);
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-viewprofile h3{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    margin-bottom: 50px;
}

#main-viewprofile .sujets-posts{
    margin-top: 100px;
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(97, 59, 59);
}

#main-viewprofile .sujets-posts h4{
    font-size: 1.5rem;
    text-align: center;
}

/*Partie Posts*/
#main-viewprofile .derniers-posts{
    border: 1px solid red;
    width: 40%;
}

#main-viewprofile .dernier-post{
    border: 1px solid blue;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Partie Sujets*/

#main-viewprofile .sujets-profil{
    border: 1px solid green;
    width: 50%;
}

#main-viewprofile .sujet-profil{
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 5px;
}

#main-viewprofile .sujet-profil i{
    font-size: 0.8rem;
}

#main-viewprofile .titre-sujet{
    /* border: 1px solid pink; */
    text-align: center;
    width: 30%;
    font-size: 1.1rem;
}

#main-viewprofile .date-sujet{
    /* border: 1px solid pink; */
    width: 30%;
}

#main-viewprofile .verrouillage-sujet{
    /* border: 1px solid pink; */
    width: 20%;
    text-align: center;
}


                                        /**************** USERSPROFILE PAGE *****************/

#main-usersProfile{
    background-color: orange;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-usersProfile h3{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    margin-bottom: 50px;
}

#main-usersProfile .infos-profil .ban{
    padding-top: 10px;
    text-align: center;
}

#main-usersProfile .sujets-posts{
    margin-top: 100px;
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid rgb(97, 59, 59); */
}

#main-usersProfile .sujets-posts h4{
    font-size: 1.5rem;
    text-align: center;
}

/*Partie Posts*/
#main-usersProfile .derniers-posts{
    /* border: 1px solid red; */
    width: 40%;
}

#main-usersProfile .dernier-post{
    /* border: 1px solid blue; */
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Partie Sujets*/

#main-usersProfile .sujets-profil{
    /* border: 1px solid green; */
    width: 50%;
    text-align: center;
}

#main-usersProfile .sujet-profil{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding: 5px;
}

#main-usersProfile .sujet-profil i{
    font-size: 0.8rem;
}

#main-usersProfile .titre-sujet{
    /* border: 1px solid pink; */
    text-align: center;
    width: 30%;
    font-size: 1.1rem;
}

#main-usersProfile .date-sujet{
    /* border: 1px solid pink; */
    width: 30%;
}



                                        /*************** USERS PAGE *****************/

#main-users{
    background-color: orange;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main-users h1{
    padding: 50px;
}

#main-users #list-users{
    width: 50%;
}

#main-users #list-users .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
}

#main-users #list-users .user .user-pseudo, #main-users #list-users .user .user-date, #main-users #list-users .user .ban-user{
    text-align: center;
    width: 30%;
}

#main-users #list-users .user:nth-child(even){
    background-color: rgb(242, 129, 129);
}

#main-users #list-users .user:nth-child(odd){
    background-color: rgb(195, 46, 46);
}


                                        /***************  NEWCATEGORIE PAGE ****************/
#main-newCategorie{
    background-color: orange;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-newCategorie h4{
    padding: 50px;
}

#main-newCategorie form{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid gray;
    gap: 10px;
}

#main-newCategorie #categorie-nom{
    display: flex;
    flex-direction: column;
}


                                        /********  LISTTOPICS PAGE ************/

#main-listTopics{
    /* background-color: rgb(218, 218, 218); */
    background: url(../img/back12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-listTopics h1{
    padding: 50px;
    text-shadow: 1px 1px 1px black;    
}

#main-listTopics  #topics-bar{
    background-color: rgb(34, 157, 147);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 7vh;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid white;
}

#main-listTopics  #topics-bar #titre-bar,
#main-listTopics  #topics-bar #auteur-bar,
#main-listTopics  #topics-bar #creation-bar,
#main-listTopics  #topics-bar #posts-bar,
#main-listTopics  #topics-bar #etat-bar{
    text-align: center;
    font-size: 1.3rem;
}

#main-listTopics  #topics-bar #titre-bar,
#main-listTopics  #topics-bar #auteur-bar,
#main-listTopics  #topics-bar #creation-bar{
    width: 20%;
}

#main-listTopics  #topics-bar #posts-bar,
#main-listTopics  #topics-bar #etat-bar{
    width: 10%;
}

#main-listTopics #topics-list{
    width: 80%;
}

#main-listTopics #topics-list{
    backdrop-filter: blur(10px);
    margin: 0px 10px 0px 10px;
    min-height: 20vh;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#main-listTopics #topics-list .topic-element:nth-child(even){
    background-color: rgb(163, 164, 164);
}

#main-listTopics #topics-list .topic-element:nth-child(odd){
    background-color: rgb(197, 200, 200);
}

#main-listTopics #topics-list .topic-element{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    border-radius: 5px;
}

#main-listTopics #topics-list .topic-element:hover{
    background-color: gray;
}

#main-listTopics .topic-element .topic-titre{
    width: 20%;
    font-size: 1.2rem;
}

#main-listTopics .topic-element .topic-createur{
    width: 20%;
}

#main-listTopics .topic-element .topic-nbPosts{
    width: 10%;
}

#main-listTopics .topic-element .topic-date{
    width: 20%;
}

#main-listTopics .topic-element .topic-etat{
    width: 10%;
    color: green;
}

#main-listTopics .topic-element .topic-verrouillage{
    width: 10%;
    color: green;
}

#main-listTopics .topic-element .supprimer-sujet{
    width: 10%;
    color: green;
}



                                    /********  LOGIN PAGE **********/

#main-connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    min-height: 87vh;
    width: 100%;
}      

#main-connexion h4{
    padding: 50px 0px 40px 0px;
    font-size: 2rem;
}

#main-connexion form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 1px solid gray; */
    width: 20%;
    height: 30vh;
}

#main-connexion form input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

#main-connexion form #mail-connexion, #main-connexion form #password-connexion, #main-connexion form #connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
         
#main-connexion form #connexion{
    margin-top: 30px;
    width: 50%;
}


                                            /*********  REGISTER PAGE *********/

#main-inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    min-height: 87vh;
    width: 100%;
}      

#main-inscription h4{
    padding: 50px 0px 40px 0px;
    font-size: 2rem;
}

#main-inscription form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 1px solid gray; */
    width: 20%;
    height: 30vh;
}

#main-inscription form input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

#main-inscription form #pseudo-inscription, #main-inscription form #mail-inscription, #main-inscription form .password-inscription, #main-inscription form #inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
         
#main-inscription form #inscription{
    margin-top: 30px;
    width: 50%;
}